html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main{
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

nav img{
    width: 5rem;
}

nav{
    display: flex;
    width: 100%;
    max-height: 5rem;
    justify-content: space-around;
    align-items: center;
}